<div class="grid">
  <span>
    <h2>*ngIf</h2>
    <p>https://angular.dev/api/common/NgIf</p>
  </span>
  <span>
    <h2>*ngrxLet</h2>
    <p>https://ngrx.io/guide/component/let</p>
  </span>

  <!-- default always emitting -->
  <div class="wrong">
    <div class="value">
      &nbsp;
      <ng-container *ngIf="value1$ | async as value1">
        {{ value1 }}
      </ng-container>
    </div>
    <app-code [code]="firstNgIf"></app-code>
  </div>
  <div class="correct">
    <div class="value">
      <ng-container *ngrxLet="value1$ as value1">
        {{ value1 }}
      </ng-container>
    </div>
    <app-code [code]="firstNgrxLet"></app-code>
  </div>

  <!-- not emitting -->
  <div class="correct">
    <div class="value">
      &nbsp;
      <ng-container *ngIf="value1Filtered$ | async as value1">
        {{ value1 }}
      </ng-container>
    </div>
    <app-code [code]="secondNgIf"></app-code>
  </div>
  <div class="correct">
    <div class="value">
      &nbsp;
      <ng-container *ngrxLet="value1Filtered$ as value1">
        {{ value1 }}
      </ng-container>
    </div>
    <app-code [code]="secondNgrxLet"></app-code>
  </div>

  <!-- more than one observable -->
  <div class="wrong">
    <div class="value">
      &nbsp;
      <ng-container *ngIf="value1$ | async as value1">
        <ng-container *ngIf="value2$ | async as value2">
          {{ value1 }} - {{ value2 }}
        </ng-container>
      </ng-container>
    </div>
    <app-code [code]="thirdNgIf"></app-code>
  </div>
  <div class="correct">
    <div class="value">
      <ng-container *ngrxLet="{ value1: value1$, value2: value2$ } as state">
        {{ state.value1 }} - {{ state.value2 }}
      </ng-container>
    </div>
    <app-code [code]="thirdNgrxLet"></app-code>
  </div>

  <!-- more than one observable and one not emitting -->
  <div class="correct">
    <div class="value">
      &nbsp;
      <ng-container *ngIf="value1$ | async as value1">
        <ng-container *ngIf="value1Filtered$ | async as value1Filtered">
          {{ value1 }} - {{ value1Filtered }}
        </ng-container>
      </ng-container>
    </div>
    <app-code [code]="fourthNgIf"></app-code>
  </div>
  <div class="correct">
    <div class="value">
      &nbsp;
      <ng-container
        *ngrxLet="{ value1: value1$, value1Filtered: value1Filtered$ } as state"
      >
        {{ state.value1 }} - {{ state.value1Filtered }}
      </ng-container>
    </div>
    <app-code [code]="fourthNgrxLet"></app-code>
  </div>

  <!-- suspense template (else) -->
  <div class="wrong">
    <div class="value">
      <ng-container *ngIf="value1$ | async as value1; else noValueIf">
        {{ value1 }}
      </ng-container>
      <ng-template #noValueIf> No value - should be 0 </ng-template>
    </div>
    <app-code [code]="fifthNgIf"></app-code>
  </div>
  <div class="correct">
    <div class="value">
      <ng-container
        *ngrxLet="value1Filtered$ as value1; suspenseTpl: noValueNgrx"
      >
        {{ value1 }}
      </ng-container>
    </div>
    <ng-template #noValueNgrx> No value </ng-template>
    <app-code [code]="fifthNgrxLet"></app-code>
  </div>
</div>
